:root {
  --dark-blue: #363f5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: 0 auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: 400;
}

header {
  padding: 2rem 0 10rem 0;
  background-color: #2d4a22;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

#balance {
  margin-top: -8rem;
}

#balance h2 {
  margin-top: 0;
  color: #fff;
}

.card {
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  color: var(--dark-blue);
  background-color: #fff;
}

.card h3 {
  font-size: 1rem;
  font-weight: normal;
}

.card.green {
  color: #fff;
  background-color: #49aa26;
}

.card p {
  margin-top: 1rem;
  font-size: 2rem;
  line-height: 3rem;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table th {
  padding: 1rem 2rem;
  background-color: #fff;
  font-weight: 400;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table tbody td {
  padding: 1rem 2rem;
  background-color: #fff;
}

td.description {
  color: var(--dark-blue);
}

td.expense {
  color: #e92929;
}

td.income {
  color: #12a454;
}

table thead th:first-child,
table tbody td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

footer {
  padding: 4rem 0 2rem;
  opacity: 0.6;
  color: var(--dark-blue);
  text-align: center;
}
